# Terraform

.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Logs

*.log

# Reports

reports/*.txt

# OS Files

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Python

__pycache__/

# Environment Variables

.env